@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    gap: 15px;
    margin: 0;
    padding: 10px;
    width: 300px;
    font-family: 'Playfair Display', serif;
    color: #444444;
}

button {
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 0;
}

header {
    z-index: 1;
}

main {
    z-index: 1;
}

form {
    gap: 10px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg.jpg");
    background-size: 100% 100%;
    opacity: 0.25;
}

.copy-btn {
    display: none;
}

.fc {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

.sb {
    display: flex;
    justify-content: space-between;
}

.show {
    display: block;
}

#calendar {
    width: 70px;
}

#dollars {
    width: 140px;
}

#result {
    align-items: center;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: white;
}

#subheader {
    display: block;
    width: 100%;
    text-align: center;
}